@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  margin: 0px;
  font-family: "Montserrat";
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#app {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 7fr 1fr;
  width: 100vw;
  height: 100vh;
  padding: 2%;
  justify-items: center;
  grid-template-areas:
    "tabSection chartSection"
    ".          .";
}

#tabSection {
  grid-area: tabSection;
  width: 100% !important;
  min-width: 100% !important;
  height: 100%;
  min-height: 100% !important;
}
#tabWrapper {
  background-color: white;
  height: 100%;
  padding: 3%;
}

#chartSection {
  grid-area: chartSection;
}

.tabs {
  li {
    font-weight: bolder;
  }
}

#tabTitle {
  text-align: center;
}

.tableWrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 250px;
}

#auditTable {
  width: 100%;
  height: auto;
  table-layout: fixed;
  overflow: scroll;
}

.roundIcon {
  border: 4px solid rgba(0, 0, 0, 0.3);
  padding: 2%;
  border-radius: 100%;
}

.label {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  padding-left: 10px;
}

.input-field {
  .prefix {
    font-size: 1.8em !important;
  }
}

.text-center {
  text-align: center;
}

/*Custom tab color*/
.tabs .tab a {
  color: #000 !important;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color: #eee !important;
  color: #000 !important;
} /*Text color on hover*/

.tabs .tab a.active {
  color: white !important;
  background-color: rgba(67, 160, 71, 1) !important;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color: rgba(46, 125, 50, 1) !important;
} /*Color of underline*/
